// SECTION / README
// Styling is based on the following structure.
/*
<section class="sectContainer">     <= Section
  <div class="sectPallet"></div>    <= Section Title
  <div class="sectPallet">          <= Styles Container
    <div class="sectBox"></div>     <= Default Style
    <div class="sectBox"></div>     <= Spotless Style
  </div>
</section>
*/



// SECTION / VARIABLES & MIXINS
$sectionUnit: 1.2rem;
$pseudoUnit: 1.6rem;
$boxShadowDiv: 1px 2px 1px rgba(0, 0, 0, 0.20), 3px 3px 1px rgba(0, 0, 0, 0.10);
$boxShadowPseudoBefore: inset -1px 0px 0px rgba(0, 0, 0, 0.20);
$boxShadowPseudoAfter: inset 2px 0px 0px rgba(0, 0, 0, 0.20);
@mixin setColorMobile($colorVar) {
  background-color: $colorVar;
  & h5, h6 {
    color: darken($colorVar, 70%);
  }
  & .sectPallet {
    &:first-child {
      background-color: darken($colorVar, 20%);
    }
  }
  & .sectBox {
    &:first-child::before,
    &:first-child::after {
      background-color: $colorVar;
    }
    &:last-child {
      border-top: 1px dashed darken($colorVar, 50%);
    }
  }
}
@mixin setColorDesktop($colorVar) {
  &::before {
    border-left: 1px dashed darken($colorVar, 50%);
  }
  & .sectPallet {
    &:first-child::before {
      background-color: $colorVar;
    }
  }
  & .sectBox {
    &:last-child {
      border-top: 0;
    }
  }
}



// SECTION / GENERAL STYLING
.sectContainer {
  @extend %flexCenCol;
  height: 100vh;
  padding: $sectionUnit;
  width: 100vw;
  & .sectPallet {
    @extend %flexCenCol;
    background-color: $colorWhite;
    box-shadow: $boxShadowDiv;
    flex: 1 0 auto;
    width: 100%;
    &:first-child {
      flex: 0 0 auto;
      border-radius: $sectionUnit $sectionUnit 0 0;
      padding: calc(#{$sectionUnit} * 0.6) $sectionUnit;
      align-items: flex-start;
    }
    &:last-child {
      border-radius: 0 0 $sectionUnit $sectionUnit;
      align-items: stretch;
    }
  }
  & .sectBox {
    @extend %flexCenCol;
    flex: 1 0 0;
    padding: $sectionUnit;
    position: relative;
    &:first-child::before,
    &:first-child::after {
      border-radius: $pseudoUnit;
      bottom: 0;
      content: '';
      display: block;
      height: $pseudoUnit;
      position: absolute;
      transform: translate(0, 50%);
      width: $pseudoUnit;
      z-index: 100;
    }
    &:first-child::before {
      box-shadow: $boxShadowPseudoBefore;
      left: calc(#{$pseudoUnit} * -0.5);
    }
    &:first-child::after {
      box-shadow: $boxShadowPseudoAfter;
      right: calc(#{$pseudoUnit} * -0.5);
    }
    & h6 {
      left: $sectionUnit;
      position: absolute;
      top: $sectionUnit;
    }
  }



  // SECTION / COLOR STYLING
  &:nth-of-type(4n+1) {
    @include setColorMobile($colorC);
  }
  &:nth-of-type(4n+2) {
    @include setColorMobile($colorM);
  }
  &:nth-of-type(4n+3) {
    @include setColorMobile($colorY);
  }
  &:nth-of-type(4n+4) {
    @include setColorMobile($colorK);
  }



  // SECTION / MEDIA QUERY
  @include desktop {
    $sectionUnit: 2rem;
    $boxShadowPseudoBefore: inset 0px -1px 0px rgba(0, 0, 0, 0.20);
    $boxShadowPseudoAfter: inset 0px 2px 0px rgba(0, 0, 0, 0.20);
    height: initial;
    position: relative;
    padding: calc(#{$sectionUnit} * 2);
    &::before {
      content: '';
      display: block;
      height: calc(100% - (#{$sectionUnit} * 4));
      left: 50%;
      bottom: 0;
      position: absolute;
      top: calc(#{$sectionUnit} * 2);
      z-index: 100;
    }
    &:nth-of-type(4n+1) {
      @include setColorDesktop($colorC);
    }
    &:nth-of-type(4n+2) {
      @include setColorDesktop($colorM);
    }
    &:nth-of-type(4n+3) {
      @include setColorDesktop($colorY);
    }
    &:nth-of-type(4n+4) {
      @include setColorDesktop($colorK);
    }
    & .sectPallet {
      &:first-child::before {
        border-radius: $pseudoUnit;
        content: '';
        display: block;
        height: $pseudoUnit;
        left: 50%;
        position: absolute;
        top: calc(#{$sectionUnit} * 2);
        transform: translate(-50%, -50%);
        width: $pseudoUnit;
        z-index: 100;
        box-shadow: $boxShadowPseudoBefore;
      }
      &:last-child {
        flex-direction: initial;
      }
    }
    & .sectBox {
      &:first-child::before {
        display: none;
      }
      &:first-child::after {
        box-shadow: $boxShadowPseudoAfter;
      }
    }
  }
}
