// - RADIO BTN SPECIFIC STYLING
.waterForm > div input[type='radio'] {
  & + label::before {
    border-radius: 500px;
  }
  @include desktop {
    width: 22px;
    height: 22px;
    & + label::before {
      height: 22px;
      width: 22px;
    }
    & + label .radioCheckMark {
      left: 5px;
      top: 5px;
    }
  }
}
