.waterForm > div {
  input[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    border: 2px solid $colorMain;
  }
}

// input[type=number].spinner--nullify::-webkit-inner-spin-button,
// input[type=number].spinner--nullify::-webkit-outer-spin-button {
//   -webkit-appearance: none;
// }
// input[type=number].spinner--nullify {
//   -moz-appearance: textfield; // For firefox
//   border: 0;
//   font-size: 1.8rem;
//   margin: 0;
//   padding: 2px 6px;
//   width: 36px;
//   &:focus {
//     outline: none;
//   }
// }
// %extSpinner {
//   align-items: center;
//   background-color: $color__theme--main;
//   color: $color--white;
//   display: flex;
//   font-family: FontAwesome;
//   font-size: 2.2rem;
//   height: 27px;
//   justify-content: center;
//   margin: 0;
//   padding: 0;
//   width: 27px;
// }
// .input--group--spinner {
//   display: inline-flex;
//   border-radius: 2px;
//   border: 2px solid $color__theme--main;
//   .spinner-- {
//     &up::before {
//       @extend %extSpinner;
//       content: '\f067';
//     }
//     &down::before {
//       @extend %extSpinner;
//       content: '\f068';
//       margin: 0 3px 0 0;
//     }
//   }
// }
