// - CHECKBOX SPECIFIC STYLING
.waterForm > div input[type='checkbox'] {
  & + label::before {
    border-radius: 0.2em;
  }
  @include desktop {
    width: 20px;
    height: 20px;
    & + label::before {
      height: 20px;
      width: 20px;
    }
    & + label .checkboxCheckMark {
      left: 4px;
      top: 4px;
    }
  }
}
