// - VARIABLES & MIXINS

// - GENERAL STYLING
.waterForm {
  display: flex;
  flex-direction: column;
  font-size: $fsP;
  width: 100%;
  & > div {
    display: flex;
    justify-content: flex-start;
    position: relative;
    & + div {
      margin-top: 1.4rem;
    }
  }
  @include desktop {
    align-items: flex-end;
    width: 80%;
    & > div {
      font-size: 88.888888%;
      width: 100%;
    }
  }
}
