@charset 'utf-8';
@import '_normalize';
@import '_normalizeCustomConfig';
@import '_variable';
@import '_font';
@import '_debugger';
@import '_mediaQuery';



// ELEMENT LEVEL ----------------------------------------------------------------------------------




// CLASS LEVEL ------------------------------------------------------------------------------------
section {
  align-items: center;
  border: $spaceUnitS solid $colorDarkGray;
  border-radius: $spaceUnitS;
  display: flex;
  flex-direction: column;
  height: calc(100vh - (#{$spaceUnitL} * 2));
  justify-content: center;
  margin: $spaceUnitL;
  width: calc(100vw - (#{$spaceUnitL} * 2));
  > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
    padding: $spaceUnitM;
    position: relative;
    width: 100%;
    &:first-child {
      align-items: flex-start;
      border-bottom: $spaceUnitS solid $colorDarkGray;
      flex: 0 0 auto;
    }
    &:nth-child(2)::after {
      border-bottom: $spaceUnitS dotted $colorDarkGray;
      bottom: 0;
      content: '';
      display: block;
      margin: $spaceUnitS 0;
      position: absolute;
      transform: translate(0, 50%);
      width: calc(100% + #{$spaceUnitS});
    }
    > h6 {
      color: $colorLightGray;
      left: $spaceUnitM;
      position: absolute;
      top: $spaceUnitM;
    }
  }
  @include tablet {
    flex-direction: initial;
  }
  @include desktop {
    flex-direction: initial;
  }
}

form {
}