// - GENERAL STYLING
.waterForm {
  display: flex;
  flex-direction: column;
  font-size: $fsP;
  width: 100%;
  & > div {
    display: flex;
    justify-content: flex-start;
    position: relative;
    & input, label {
      font-family: $ffBody;
      letter-spacing: 0.04em;
      line-height: 100%;
    }
    & + div {
      margin-top: 1.4rem;
    }
    &.vertical {
      flex-direction: column;
      align-items: flex-start;
      & label {
        margin-bottom: 0.4em;
      }
    }
    .required {
      font-size: 0;
      line-height: 0;
      position: absolute;
      right: 6px; // px due to svg
      top: 7px;   // px due to svg
      transform-origin: top right;
      transform: scale(0.8);
      transition-duration: $transitionS;
      & path {
        fill: $colorInvalid;
      }
      &.check {
        top: 6px; // px due to svg
        transform: scale(1.4);
        & path {
          fill: $colorValid;
        }
      }
    }
  }
  @include desktop {
    align-items: flex-end;
    width: 80%;
    & > div {
      font-size: 88.888888%;
      width: 100%;
    }
  }
}
