// - RADIO BTN SPECIFIC STYLING
.waterForm > div input[type='radio'] {
  & + label::before {
    border-radius: 500px;
  }
  @include desktop {
    width: 24px;
    height: 24px;
    & + label::before {
      height: 24px;
      width: 24px;
    }
    & + label .radioCheckMark {
      left: 7px;
      top: 7px;
    }
  }
}
