// - CHECKBOX SPECIFIC STYLING
.waterForm > div input[type='checkbox'] {
  & + label::before {
    border-radius: 0.2em;
  }
  @include desktop {
    width: 22px;
    height: 22px;
    & + label::before {
      height: 22px;
      width: 22px;
    }
    & + label .checkboxCheckMark {
      left: 6px;
      top: 5px;
    }
  }
}
