// - VARIABLES & MIXINS
$padTopBtm: 0.6em;
$btnWidthHeight: calc(#{$fsP} + #{$padTopBtm} * 2);
$inputHeight: calc(#{$fsP} + #{$padTopBtm} * 2);

// - GENERAL STYLING
.waterForm {
  & select:not([multiple]) {
    display: none;
  }
  & .pseudoSelectWrapper {
    border-radius: 0.4rem;
    border: 2px solid $colorMain;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: $inputHeight;
    overflow: hidden;
    justify-content: flex-start;
    position: relative;
    &.active {
      height: initial;
      overflow: initial;
    }
  }
  & .pseudoSelected {
    & p {
      font-family: $ffBody;
      padding: calc(#{$padTopBtm} - 1px) $btnWidthHeight calc(#{$padTopBtm} - 1px) $padTopBtm;
      line-height: 1;
      letter-spacing: 0.02em;
    }
    & .triangleDown {
      @extend %flexCenCol;
      border-radius: 0 0.4rem 0.4rem 0;
      position: absolute;
      background-color: $colorMain;
      height: calc(#{$fsP} + #{$padTopBtm} * 2);
      width: $btnWidthHeight;
      transform: translate(2px, -2px);
      right: 0;
      top: 0;
      @extend %onHover;
      & svg {
        width: 58%;
        height: 58%;
        transform: translateY(-1px); // To cater for optical adjustment
        & path {
          fill: $colorWhite;
        }
      }
    }
  }
  & .pseudoSelectList {
    border-top: 2px solid $colorMain;
    font-family: $ffBody;
    list-style: none;
    margin: 0;
    padding: 0;
    transition-duration: $transitionL;
    & li {
      font-size: $fsP;
      padding: $padTopBtm calc(#{$btnWidthHeight} * 1.4) $padTopBtm $padTopBtm;
      line-height: 1;
      letter-spacing: 0.02em;
      &:hover {
        background-color: $colorMain;
        color: $colorWhite;
      }
    }
  }
  @include desktop {
  }
}
